<div class="appointmnent">
  <p>Choose date and fix your appointment</p>
  <div class="dateChoose">
    <div class="date">
      <span>08</span>
      <span>Aug</span>
    </div>
    <div class="date">
      <span>09</span>
      <span>Aug</span>
    </div>
    <div class="date">
      <span>10</span>
      <span>Aug</span>
    </div>
    <div class="date">
      <span>11</span>
      <span>Aug</span>
    </div>
    <div class="date">
      <span>12</span>
      <span>Aug</span>
    </div>
  </div>
  <p>Choose the time slot</p>
  <div class="chooseSlot">
    <div class="slot">12:10</div>
    <div class="slot">08:20</div>
    <div class="slot">15:10</div>
    <div class="slot">14:40</div>
    <div class="slot">17:15</div>
    <div class="slot">18:30</div>
    <div class="slot">16:50</div>
    <div class="slot">11:45</div>
    <div class="slot">12:30</div>
    <div class="slot">15:10</div>
    <div class="slot">17:00</div>
  </div>
</div>