@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", serif; */
}

.appointment{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 15px;
  background-color: white;
  border-radius: 20px;
  margin: 3%;
  padding: 10px 5%;
}

.nomalText{
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.appointment .appointment-Form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 15px;
}

.appointment .addRow{
  display:flex;
  flex-direction: column;
  justify-content: baseline;
}

.appointment .addRow .inputBox{
  display: flex;
  align-items: center;
  gap: 15%;
}

.appointment .addRow .inputBox .ip{
  display: flex;
  flex-direction: column;
}

.appointment .inputArea{
  max-width: 300px;
  min-width: 150px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  height: 40px;
  letter-spacing: 2px;
  margin: 1px;
}

.appointment .inputArea.time{
  max-width: 200px;
}

.appointment .inputArea:focus{
  /* border: 2px skyblue solid; */
  box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
    outline: none;
}


.appointment label{
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
}

.appointment .msg{
  color: #dc3545;
  font-weight: 500;
  font-size: 12px;
}

.appointment .butns{
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 30px;
}

.appointment .butns button{
  padding: 8px 16px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #dee2e6;
  font-size: 14px;
}

.appointment .butns button:hover{
  box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
}



/* .appointmnent .dateChoose{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap:3%;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.appointment .dateChoose::-webkit-scrollbar {
  display: none;
}

.appointmnent .dateChoose .date{
  background-color: #3f8bf9;
  color: white;
  padding: 10px;
  width: 55px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}

.appointmnent .dateChoose .date span:nth-child(2){
  font-size: 24px;
}

.appointmnent .dateChoose .date.active{
  background-color: #1f5db5;
}

.appointmnent .addSlot{
  display: flex;
  gap:20px;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
}

.appointmnent .addSlot .addSlotIp{
  display: flex;
  gap:20px;
  padding: 10px;
  align-items: center;
}

.appointmnent .addSlot .addSlotIp .timeIp{
  max-width: 300px;
  min-width: 150px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  height: 40px;
  letter-spacing: 2px;
}


.appointmnent .addSlot .addSlotBtn{
  background-color: #3f8bf9;
  height: 40px;
  border-radius: 10px 10px;
  padding: 10px 15px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.chooseSlot{
  display: flex;
  align-items:flex-start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content:space-around;
}

.appointmnent .slot{
  background-color: #b14bc9;
  padding: 7px 20px;
  border-radius: 35px;
  color: white;
  cursor: pointer;
} */