<div class="schedule-container">
  <h2>What time works best for a quick call?</h2>
  
  <div class="date-picker">
    <button (click)="prevWeek()">&#8249;</button>
    
    <div class="dates">
      <button
        *ngFor="let date of weekDates"
        [class.selected]="selectedDate === date"
        (click)="selectDate(date)"
      >
        <div>{{ date | date: 'EEE' }}</div>
        <div>{{ date | date: 'd MMM' }}</div>
      </button>
    </div>
    
    <button (click)="nextWeek()">&#8250;</button>
  </div>
  
  <h3>Select a time slot</h3>
  
  <div class="time-slots">
    <button
      *ngFor="let time of timeSlots"
      [class.selected]="selectedTime === time"
      (click)="selectTime(time)"
    >
      {{ time }}
    </button>
  </div>
</div>
