<div class="body">
  <div class="cont">
    <div class="title">Sign up now! 🌟</div>
    <small class="desc">Your health journey starts here! Create your account today. 🩺</small>
    <div class="content">
      <form (ngSubmit)="onSubmit()">
        <div class="user-details">
          <!-- Full Name Input -->
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" id="inputName" placeholder="Enter your name" [(ngModel)]="Details.fullName" name="fullName" required>
          </div>

          <!-- Username Input -->
          <div class="input-box">
            <span class="details">Username <span class="usernameguid">{{validUserMessage}}</span></span>
            <div class="input-group userNameField">
              <input type="text" class="form-control" [(ngModel)]="Details.userName" id="inlineFormInputGroup" placeholder="Username" name="username" required>
              <button type="button" class="input-group-text" [class.uservalid]="isValidUserName" (click)="validateUsername()">Check</button>
            </div>
          </div>

          <!-- Email Input -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" id="inputEmail4" class="form-control" [(ngModel)]="Details.email" name="email" placeholder="Enter your email" required>
          </div>

          <!-- Phone Number Input -->
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="number" class="form-control" [(ngModel)]="Details.mobileNo" name="phoneNo" placeholder="Enter mobile number" required>
          </div>

          <!-- Password Input -->
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" class="form-control" [(ngModel)]="Details.password" name="password" placeholder="Enter your password" required>
          </div>

          <!-- Confirm Password Input -->
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
</div>
