<div class="emp-profile">
  <div class="row">
      <div class="col-md-4">
          <div class="profile-img">
              <img src="https://i.pinimg.com/564x/81/c9/32/81c9320106f3c17c506814960bf6bc9d.jpg" alt="User Image" />
          </div>
      </div>
      <div class="col-md-6">
          <div class="profile-head">
              <h3>Anirban Manna</h3>
              <p class="proile-rating">user Name: <span>CAP10</span></p>
              <p class="proile-rating">Total no of appoitment: <span>5</span></p>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 imgBox">
          <img src="https://i.pinimg.com/564x/12/20/19/122019be91cfd1f85aa619463fb1ebb8.jpg" width="100%" alt="Profile Illustration">
      </div>
      <div class="col-md-8 userDetailsPart">
          <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                      <div class="col-md-4">
                          <label>Full Name</label>
                      </div>
                      <div class="col-md-8">
                          <p>Anirban Manna</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <label>Email</label>
                      </div>
                      <div class="col-md-8">
                          <p>mymail(a)example.com</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <label>Age</label>
                      </div>
                      <div class="col-md-8">
                          <p>50</p>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                        <label>Blood Group</label>
                    </div>
                    <div class="col-md-8">
                        <p>O+</p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                      <label>Address</label>
                  </div>
                  <div class="col-md-8">
                      <p>Your Address,City,Country</p>
                  </div>
              </div>
              </div>
          </div>
          <!-- (click)="navigateToEdit()" hello-->
        <a class="Btn butn" routerLink="../profile-edit">
              <div class="sign">
                <i class="bi bi-arrow-right-circle-fill" style="color: #f6f7f9;"></i>
              </div>
              <div class="text-editbtn">Edit</div>
        </a>
      </div>
  </div>
</div>
